<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>

<body>
    <h1>My Notes</h1>
    <ul>
        <% notesList.forEach(note => { %>
            <li>
                <h2>
                    <%= note.title %>
                </h2>
                <p>
                    <%= note.description %>
                </p>
                <p>
                    <%= note.label %>
                </p>
            </li>
            <% }) %>
    </ul>
</body>

</html>